{% extends 'base.html' %}
{% block content %}
<div class="goal-create-container">
<form method="post">
{% csrf_token %}
{% if form.errors %}
<div class="alert alert-danger" role="alert">
    {% for field in form %}
    {% if field.errors %}
    <div>
        <strong>{{ field.label }}</strong>
        {{ field.errors }}
    </div>
    {% endif %}
    {% endfor %}
</div>
{% endif %}
<!-- 오류표시 End -->
<div class="finish-title">
  <p>You’re all set! 👏<br>Please tell us where to send messages</p>
</div>
<div class="contact-boxes">
  <input name="phone" id="phoneNumber" placeholder="mobile phone number" type="tel" class="contact-box" value="{{ form.phone.value|default_if_none:'' }}">
</div>
  <img width="300px" style="margin-top:28px;" src="/static/img/progress4.svg">
<div class="submit-button">
  <a id="subscribe" href="{% url 'grandmaai:phone_create' %}">
    <button type="submit" onclick="disableButton()" class="subscribe-button">Submit and Subscribe</button>
  </a>
</div>
</form>
</div>


<script type='text/javascript'>

function disableButton() {
    // Disable link and change text color
    document.getElementById("subscribe").style.pointerEvents = "none";
}
  
const isNumericInput = (event) => {
    const key = event.keyCode;
    return ((key >= 48 && key <= 57) || // Allow number line
        (key >= 96 && key <= 105) // Allow number pad
    );
};

const isModifierKey = (event) => {
    const key = event.keyCode;
    return (event.shiftKey === true || key === 35 || key === 36) || // Allow Shift, Home, End
        (key === 8 || key === 9 || key === 13 || key === 46) || // Allow Backspace, Tab, Enter, Delete
        (key > 36 && key < 41) || // Allow left, up, right, down
        (
            // Allow Ctrl/Command + A,C,V,X,Z
            (event.ctrlKey === true || event.metaKey === true) &&
            (key === 65 || key === 67 || key === 86 || key === 88 || key === 90)
        )
};

const enforceFormat = (event) => {
    // Input must be of a valid number format or a modifier key, and not longer than ten digits
    if(!isNumericInput(event) && !isModifierKey(event)){
        event.preventDefault();
    }
};

const formatToPhone = (event) => {
    if(isModifierKey(event)) {return;}

    const input = event.target.value.replace(/\D/g,'').substring(0,10); // First ten digits of input only
    const areaCode = input.substring(0,3);
    const middle = input.substring(3,6);
    const last = input.substring(6,10);

    if(input.length > 6){event.target.value = `(${areaCode}) ${middle} - ${last}`;}
    else if(input.length > 3){event.target.value = `(${areaCode}) ${middle}`;}
    else if(input.length > 0){event.target.value = `(${areaCode}`;}
};

const inputElement = document.getElementById('phoneNumber');
inputElement.addEventListener('keydown',enforceFormat);
inputElement.addEventListener('keyup',formatToPhone);
  
</script>
{% endblock %}